<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1090778335501-uc5ial39pp15b1jhsn6jo5up6hrpjlev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090778335501-uc5ial39pp15b1jhsn6jo5up6hrpjlev</string>
	<key>API_KEY</key>
	<string>AIzaSyB9vXtvYGM3N3HyssH7M9Hjuux9q8ei4Cc</string>
	<key>GCM_SENDER_ID</key>
	<string>1090778335501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.justFoxing.project-squirrel-dragon</string>
	<key>PROJECT_ID</key>
	<string>project-squirrel-dragon</string>
	<key>STORAGE_BUCKET</key>
	<string>project-squirrel-dragon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090778335501:ios:e70d48ae70fbbd46014844</string>
	<key>DATABASE_URL</key>
	<string>https://project-squirrel-dragon-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>